<div class="post">
    <h2>{{title}}</h2>
    <div class="author">{{author}}</div>
    <div class="content">{{shortenForHome content}}   <a href={{createURLForPost timeStamp title}}>Read more</a></div>
    <div class="timestamp">{{timeStamp}}</div>
</div>