<div class="posts">
    <h2><a class="title" href={{createURLForPost title}}>{{title}}</a></h2>
    <div class="author">{{author}}</div>
    <div class="content">{{{linkKeywords (shortenForHome content) }}}   <a href={{createURLForPost title}}>Read more</a></div>
    <div class="timestamp">{{timeStamp}}</div>
</div>